{% import "macros/generic.html" as macros %}
{% macro display_field(field) -%}
    {% for part in field.split('\n\n') %}
        <p>{{ part }}</p>
    {% endfor -%}
{%- endmacro %}

{% macro display_threatbar(threat,severity) -%}
    <div class=" threat-div">
        <div class=" progressbar-threat {{ threat.lower() }}" style="width:{{ severity *10 }}px;">
            <div class="progressbar-threat-text">{% if severity>-1 %}{{ severity }}{% endif %} ({{ threat }})</div>
        </div>
    </div>
{%- endmacro %}

{% macro get_threat(severity) -%}
    {% if severity==0 -%}
        Log
    {% elif 0 <severity < 4 -%}
        Low
    {% elif 3.9 <severity < 7 -%}
        Medium
    {% elif 6.9 < severity < 11 -%}
        High
    {% elif severity < 0 -%}
        False positive
    {% endif %}
{%- endmacro %}

{% macro display_info(result) -%}
    {% set info=result.information %}
    {% for key,value in result.DISPLAY_INFO %}
        {% if info[key] %}
            <tr>
                <td>
                    <b>{{ value }}</b>
                    {% if key=='solution' %}
                        {% if info['solution_type'] %}
                            <p><b>Solution type: </b>{{ info['solution_type'] }}</p>
                        {% endif %}
                    {% endif %}
                    <p>{{ display_field(info[key]) }}</p>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro display_references(result) -%}
    <tr>
        <td>
            <b>References</b>
            <p></p>
            <table class="table table-sm borderless">
                <tbody>
                {% if result['cves'] -%}
                <tr>
                    <td style="width:33px">CVE:</td>
                    <td>
{#                        {{ result['cves']|join(", ") }}#}
                        {% for cve in result['cves']%}
                            <a href="https://nvd.nist.gov/vuln/detail/{{ cve }}" target="_blank">{{ cve }}</a>
                            {%- if loop.first %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if result['certs'] -%}
                <tr>
                    <td style="width:33px">Certs:</td>
                    <td>{{ result['certs']|join(", ") }}</td>
                </tr>
                {% endif %}
                {% if result['references'] -%}
                <tr>
                    <td style="width:33px">Other:</td>
                    <td>
                        {% for ref in result.references %}
                            <p><a href={{ ref }} target="_blank">{{ ref }}</a></p>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </td>
    </tr>
{%- endmacro %}

{% macro display_description(description) -%}
    {% for part in description %}
        <p>{{ part }}</p>
    {% endfor -%}
{%- endmacro %}